/*centers any element that has container*/
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  z-index: 0;
  height: 550px;
}


/* container for pet page */
.containerPet {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  z-index: 0;
  height: 700px;
}


/*container for about me*/
.containerAB {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-left: 15%;
  margin-top: 100px;
  z-index: 0;
  height: 350px;
}

/* container for projects page */
.containerPJ {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 0;
  top: 150px;
}

/* donation button position */
.donation {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* src button */
.sourceCode {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.sourceCode a {
  position: relative;
  bottom: 3px;
  margin-right: 1px;
}

/* settings for the spotify button the left corner */
#spotifyimg {
  position: fixed;
  float: left;
  bottom: 40px;
  left: 40px;
}

/* related to the particle background in homepage */
#canvas1 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}




/* links inside the gray box */
.boxHP h2 {
  display: inline-block;
  width: 23%;
  margin-top: 6%;
}

/*i have written all these comments one by one*/